<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VueJS Workshopt 1 - Playground</title>
  </head>
  <body>
    <div id="app">
      <h1>Movie Characters</h1>
      <ul v-if="movies.length > 0">
        <li v-for="movie in movies">
          <h2>{{ movie.title }}</h2>
          <ul>
            <li v-for="character in movie.characters">{{ character }}</li>
          </ul>
        </li>
      </ul>
      <p v-else>No movies available</p>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue;
      const app = createApp({
        data() {
          return {
            movies: [
              { title: "Inception", characters: ["Cobb", "Ariadne", "Mal"] },
              {
                title: "The Dark Knight",
                characters: ["Batman", "Joker", "Bane"],
              },
              {
                title: "Interstellar",
                characters: ["Cooper", "Murph", "Brand"],
              },
              {
                title: "The Prestige",
                characters: ["Angier", "Borden", "Olivia"],
              },
            ],
          };
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
