<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VueJS Workshopt 1 - Playground</title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <div id="app">
      <h1>{{ count }}</h1>
      <button v-on:click="incremenetCount">Increment Count</button>
      <div>
        <label>Incrememt by:</label>
        <input
          type="number"
          v-bind:value="incrementAmount"
          v-on:input="changeIncremenetAmount"
        />
      </div>
      <hr />
      <p v-if="message.length %2 === 0">Even: {{ message }}</p>
      <p v-else>Odd: {{ message }}</p>
      <ul>
        <li v-for="number in listOfNumbers">{{ number }}</li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue;
      const app = createApp({
        data() {
          return {
            count: 0,
            incrementAmount: 8,
            message: "Hello from vue side!",
            listOfNumbers: [1, 2, 3, 4, 5],
          };
        },
        methods: {
          incremenetCount() {
            this.count += this.incrementAmount;
          },
          changeIncremenetAmount(event) {
            this.incrementAmount = Number(event.target.value);
          },
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
